<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<system.serviceModel>

		<client>
   <endpoint address="net.tcp://localhost:65001/GettingStarted"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IModelService"
    contract="ModelServiceReference.IModelService" name="NetTcpBinding_IModelService">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:65003" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IDynamicCacheManagerService"
    contract="DynamicCacheManagerReference.IDynamicCacheManagerService"
    name="NetTcpBinding_IDynamicCacheManagerService">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:65003/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IDynamicCacheManagerService1"
    contract="DynamicCacheServiceReference.IDynamicCacheManagerService"
    name="NetTcpBinding_IDynamicCacheManagerService1">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
  </client>
		
	<bindings>
  <netTcpBinding>
   <binding name="duplexTcpBinding" closeTimeout="01:10:00" openTimeout="01:10:00"
    receiveTimeout="01:10:00" sendTimeout="01:10:00" maxBufferPoolSize="10000000"
    maxBufferSize="10000000" maxReceivedMessageSize="10000000" />
   <binding name="NetTcpBinding_IModelService">
    <security>
     <transport sslProtocols="None" />
    </security>
   </binding>
   <binding name="NetTcpBinding_IDynamicCacheManagerService">
    <security>
     <transport sslProtocols="None" />
    </security>
   </binding>
   <binding name="NetTcpBinding_IDynamicCacheManagerService1">
    <security>
     <transport sslProtocols="None" />
    </security>
   </binding>
  </netTcpBinding>
 </bindings>


		<services>
			<service name="ModbusServiceLibrary.ModbusService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:65002/GettingStarted" />
					</baseAddresses>
				</host>

				<endpoint address="" binding="netTcpBinding" bindingConfiguration="duplexTcpBinding" contract="ModbusServiceLibrary.IModbusDuplex">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>

				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, 
		  set the values below to false before deployment -->

					<!-- To receive exception details in faults for debugging purposes, 
		  set the value below to true.  Set to false before deployment 
		  to avoid disclosing exception information -->


					<serviceDebug includeExceptionDetailInFaults="True" />
					<serviceMetadata />

				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	
  <runtime>
	
	  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
		  <dependentAssembly>
	
			  <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
			  <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
	
		  </dependentAssembly>
	
		  <dependentAssembly>
	
			  <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	
			  <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
	
		  </dependentAssembly>
	
		  <dependentAssembly>
	
			  <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
			  <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
	
		  </dependentAssembly>
	
		  <dependentAssembly>
	
			  <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
			  <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
	
		  </dependentAssembly>
	
	  </assemblyBinding>
	
  </runtime>
</configuration>