<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<system.serviceModel>

		<bindings>
			<netTcpBinding> 
				<binding name="duplexTcpBinding" closeTimeout="01:10:00" openTimeout="01:10:00" receiveTimeout="01:10:00" 
						 sendTimeout="01:10:00" maxReceivedMessageSize="10000000" maxBufferSize="10000000" 
						 maxBufferPoolSize="10000000" />
			</netTcpBinding>
		</bindings>


		<services>
			<service name="ModbusServiceLibrary.ModbusService">

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:65002/GettingStarted" />
					</baseAddresses>
				</host>

				<endpoint address="" binding="netTcpBinding" bindingConfiguration="duplexTcpBinding" contract="ModbusServiceLibrary.IModbusDuplex">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>

				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />

			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->

					<!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->


					<serviceDebug includeExceptionDetailInFaults="True" />
					<serviceMetadata />

				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	
</configuration>