<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
           
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:65001/GettingStarted"
                binding="netTcpBinding" 
                contract="ModelServiceReference.IModelService" name="BasicHttpBinding_IModelService" />
        </client>
    </system.serviceModel>
</configuration>
